footer{
    padding: 20px 70px !important;
    @include small{
    padding: 20px 10px !important;
    font-size: $fz-xxs;

    }
    .social{
        display: none !important;
        margin-top: 30px;
        i{
            font-size: $fz-sm;
            padding: 0 10px;
        }
        @include small{
            display: block !important;
        }
    }
}
