.sidebar{
    position:fixed;
    bottom: 0;
  
    a {
        margin-bottom: 20px;
        transition: 0.5s ease-in-out;
        &:hover{
            transform: translateY(-5px);
        }
        .fab{
            font-size: 1.5rem;
        }
    }
    &:first-child::after{
        content: '';
        width: 1px;
        background-color: $lightest-slate;
        height: 120px;
    }
    @include small{
        display: none !important;
        
    }
    
}