$navy: #0a192f;
$light-navy: #112240;
$lightest-navy: #233554;
$slate: #8892b0;
$light-slate: #a8b2d1;
$lightest-slate: #ccd6f6;
$white: #e6f1ff;
$green: #64ffda;
$font-family: "Calibre" sans-serif;

$fz-xxs: 0.8rem;
$fz-xs: 1.2rem;
$fz-sm: 1.5rem;
$fz-md: 2rem;
$fz-lg: 3rem;
$fz-xl: 4rem;
$fz-xxl: 5rem;
$small-width: 576px;
$medium-width: 768px;
$large-width: 992px;
